params {
    non_human_rads = "non_human_reads/" // directory for non_human reads from minimap process
    mash_sketch      = "refseq.genomes.k21s1000.msh"  // Precomputed Mash sketch file
    mash_out_dir     = "mash_results/"  // Output directory
    summary_out_dir = "summary_output" // output dircetory for summary module
}