params {

    non_human_reads = "${projectDir}/test_data/non_human_reads/*.fastq" // directory for non_human reads from minimap process
    mash_sketch      = "${projectDir}/default_db.msh"  // Precomputed Mash sketch file
    mash_out_dir     = "${projectDir}/results/mash_results/"  // Output directory
    summary_out_dir = "${projectDir}/results/summary_output" // output dircetory for summary module
    skip_dbdownload = false
    db = null
    url = "https://gembox.cbcb.umd.edu/mash/refseq.genomes.k21s1000.msh"
    test_sum = "${projectDir}/test_data/mash_output"
    test_data="${projectDir}/test_data/raw_data"

}


profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    conda {
        conda.enabled    = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    apptainer {
	apptainer.enabled      = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
   
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}
process {
    withName: MASHSCREEN {
        cpus = 5
        

    } 
}

